schema/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
            Ente Wurzel Video XML (.ewvx)
        </xs:documentation>
    </xs:annotation>

    <xs:element name="video">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta-ente">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fps" type="xs:decimal"/>
                            <xs:element name="ente" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="frames">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="frame" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:any namespace="http://www.w3.org/2000/svg"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
